:root {--header-height: 80px;}
@media (max-width:780px) {:root {--header-height: 60px;}}

header {
    width: 100%;
    height: var(--header-height);

    display: flex;
    position: fixed;

    background-color: var(--header);

    z-index: 4;

    transition: 0.2s ease-out;
}

nav {
    width: 100%;
    max-width: 1140px;

    height: var(--header-height);

    display: flex;
    justify-content: space-between;

    margin-left: auto;
    margin-right: auto;

    font-size: 14px;
    transition: 0.2s ease-out;
    padding: 0 10px;

    z-index: 4;
}

.active {
    background-color: var(--header-on);
    box-shadow: var(--shadow-elevation-low);
} /*al deslizar hacia abajo se activa el color*/

.logo {
    width: 200px;
    height: var(--header-height);

    background-image: url(../img/RemodelLogo.svg);
    background-size: 100% 90%;
    background-repeat: no-repeat;
    background-position: center center;
}

@media (max-width:780px) {
    .logo {
        background-size: 95%;
        background-position: left;
    }
}

.nav-link-grid {
    width: auto;
    height: var(--header-height);

    display: flex;
    flex-direction: row;
    gap: 10px;

    font-family: "Heebo", sans-serif;
}

.nav-link {
    width: 106px;
    height: var(--header-height);

    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

    color: var(--white);

    transition: 0.2s ease-out;
}

.nav-link:hover {
    color:var(--black);
}

.nav-link b {
    transition: 0.2s ease-out;
    padding: 7px 12px;
    border-radius: 25px;
    background-color: #0000001a;

    display: inline-flex;
    justify-content: space-between;
    gap: 5px;
}

.nav-link-block:hover b {
    background-color: var(--white);
    color: var(--black);
}

.nav-link:hover b {
    background-color: var(--white);
}

.sub-link-bg b {
    background-color: #ffffff00;
}

.nav-link-block {
    width: 106px;
    height: var(--header-height);

    display: block;

    color: var(--white);
    cursor:default;
    
}

.box {
    width: 260px;
    height: auto;

    flex-direction: column;
    position: fixed;

    transition: 0.2s ease-out;
    opacity: 0;
    pointer-events: none;

    transform: translate(-80px, 20px);

    padding: 10px;
    background-color: var(--bg-box);
    border-radius: 32px;
    gap: 3px;
}

.nav-link-block:hover .box {
    display: flex;
 
    transform: translate(-80px, -10px);
    opacity: 1;
    pointer-events: all;
}

.sub-link {
    display: flex;
    width: 100%;
    height: 50px;

    position: static;
    pointer-events: none;

    background-color: var(--bg-box);
    color: var(--white);

    justify-content: center;
    align-items: center;

    transition: 0.2s ease-out;
    border-radius: 32px;
}

.sub-link:hover {
    background-color: var(--bg-box-select);
}

.nav-link-block:hover .sub-link {
    pointer-events: all;
}

.social-media {
    width: 80px;
    height: var(--header-height);
 
    display: flex;

    justify-content: flex-end;
    align-items: center;
    gap: 5px;
}

@media (max-width:780px) {
    .nav-link-grid {display: none;}
    .social-media {display: none;}
    nav {padding: 0 10px 0 10px;}
}

.menu-btn {
    display: none;
}

.menu-full {
    display: none;
}

@media (max-width:780px) {
    .menu-btn {
        display: flex;
        width: 60px;
        height: var(--header-height);
        background: none;
    }

    .button {
        width: 100%;
        height: 100%;
    
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 5px;
    
    }
    
    .bar-1, .bar-3 {
        width: 20px;
        height: 3px;
    
        border-radius: 20px;
    
        /*background: rgb(255, 255, 255);*/
        background: var(--white);
        transition: 200ms ease-out;
        transform: scale(1);
    }

    .bar1-on {
        position: fixed;
        transform: rotate(-46deg);
    }
    .bar2-on {opacity: 0;}
    .bar3-on {
        position: fixed;
        transform: rotate(44deg);
    }

    .menu-full {
        width: 100%;
        height: 100%;
    
        display: flex;
        flex-direction: column;
    
        position: fixed;
    
        background-color: var(--menu);
    
        transform: translateY(-100%);
        transition: 0.35s cubic-bezier(1, 0.04, 0.36, 1);
    
        z-index: 2;
    }
    
    .menu-full-on {
        transform: translateY(0);
    }

    .menu-nav-grid {
        width: 100%;
        height: 100%;

        margin-top: 80px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        background-color: var(--menu);
        font-family: "Heebo", sans-serif;

        opacity: 0;
        transition: 0.2s ease-out;

        padding: 0 20px;
    }

    .nav-smooth {
        animation: 0.725s smoothing ease-out forwards;
    }

    @keyframes smoothing {
        0% {opacity: 0;}
        50% {opacity: 0;}
        100% {opacity: 1;}
    }

    .nav-grid {
        width: 100%;
        height: 50px;

        background-color: #030715;
        color: var(--white);

        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 0 20px;

        transition: 0.2s ease-out;
        border-radius: 17px;

        margin-bottom: 6px;
    }

    .square {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 85px;
        gap: 6px;
        margin-bottom: 6px;
    }

    .square .nav-grid {
        height: 100%;
    }

    .nav-grid:active { background-color: #1a285b;}

    .box-grid-Nosotros, .box-grid-Servicios{
        width: 100%;
        height: 0;
        opacity: 0;
        transform: scale(0.98);

        transition: 0.217s cubic-bezier(.17,.67,.47,1);

        pointer-events: none;
        user-select: none;

        gap: 6px;
    }

    .box-grid-Nosotros-Up{
        height: 170px;
        pointer-events: all;
        opacity: 1;
        transform: scale(1);
    }

    .box-grid-Servicios-Up{
        height: 115px;
        pointer-events: all;
        opacity: 1;
        transform: scale(1);
    }

    .box-grid-Nosotros > .nav-grid {background-color: #0e1633; }
    .box-grid-Nosotros > .nav-grid:active {background-color: #1a285b;}
    .box-grid-Servicios > .nav-grid {background-color: #0e1633;}
    .box-grid-Servicios > .nav-grid:active {background-color: #1a285b;}

    .nav-select-Nosotros-Up {background-color: #1a285b;}
    .nav-select-Servicios-Up {background-color: #1a285b;}


    .mini-footer {
        display: flex;
        height: 100px;

        flex-direction: column;
        align-items: center;

        font-size: 14px;
        color: var(--white);
        gap: 10px;
    }

    .redes-movil {
        display: flex;
        height: auto;
        justify-content: center;
        gap: 10px;
    }
}

.Pop-Off {
    width: 100%;
    height: 100%;

    background-color: #ba1f1f00;

    z-index: 6;
    display: flex;
    position: fixed;

    pointer-events: none;
    transition:0.307s cubic-bezier(0.51, 0.03, 0.43, 0.99);

    justify-content: center;
    align-items: center;
}

.Pop-On {
    background-color: #000000d6;
    pointer-events: all;
    backdrop-filter: blur(2px);
}

.Video {
    display: none;
    position: fixed;
    width: 70%;
    height: 70%;

    background: rgba(0, 0, 0, 0);

    pointer-events: none;
    z-index: 6;
    transition:0.377s cubic-bezier(0.51, 0.03, 0.43, 0.99);
    inset: 0;
    margin: auto;
}

.Pop-Video-Out {
    display: block;
    background: rgb(0, 0, 0);

    pointer-events: all;
}

@media (max-width:780px) {
    .Pop-On {background: #0000004a;}

    .Video {
        width: 100%;
        height: 50%;
    }
}